

.gallery-image{
    margin: 40px auto;
    width: 90%;
    display: flex;
   
    @include respond(tab-port){
        flex-direction: column;
    }
    .image-side{
        width: 40% ;
    }
    .text-side{
        width: 60% ;
    }
    &>*{
        @include respond(tab-port){
            width: 100% ;
        }
    }
    
    img{
        outline: 10px solid brown;
        outline-offset: 15px;
        max-width: 250px;
        max-height: 300px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
        }
    }
   
    .subtitle{
        margin-top: 50px;
    }
    p{   
        text-align: center;
        padding: 15px;
        color: black !important;
    }
}