
 .image-container{
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    img{
        width: 100%;
        transform: scale(1.6);
    }
}



.select-box {
position: relative;
display: block;
width: 150px;
height: 45px;
//font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
font-size: 18px;
color: #60666d;
box-shadow: 0 2.5px 5px rgba(0,0,0,.2);

ul{
display: flex;
flex-direction: column;
li{
  display: flex;
}
}
&__current {
position: relative;
box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
cursor: pointer;
outline: none;
height: 100%;
&:focus {
& + .select-box__list {
opacity: 1;

// We have to set "animation-name: none;" to make the list visible (read below how it works)
animation-name: none;

.select-box__option {
  cursor: pointer;
}
}

.select-box__icon {
transform: translateY(-50%) rotate(180deg);
}
}
}

&__icon {
width: 30px !important;
height: 30px !important;
position: absolute;
right: 0;
top: 50%;
transform: translateY(-50%);
transition: 0.2s ease;
}

&__value {
display: flex;
height: 100%;
position: absolute;
}

&__input {
display: none;

&:checked + .select-box__input-text {
display: flex;
align-items: center;
}
}

&__input-text {
display: none;
width: 100%;
padding: 15px;
background-color: #fff;
p{
margin-bottom: 0 !important;
}
}

&__list {
position: absolute;
width: 100%;
padding: 0 !important;
list-style: none;
opacity: 0;
li{
width: 100%;
box-shadow: 0 2.5px 5px rgba(0,0,0,0.2) !important;
}
animation-name: HideList;
animation-duration: 0.5s;
animation-delay: 0.5s;
animation-fill-mode: forwards;
animation-timing-function: step-start;

}

&__option {
display: flex;
align-items: center;
padding: 15px;
background-color: #fff;
transition: all .3s;
&:hover,
&:focus {
color: #546c84;
background-color: rgb(209, 209, 209);
}
}
}

@keyframes HideList {
from {
transform: scaleY(1);
}
to {
transform: scaleY(0);
}
}