*{
    font-family: 'Montserrat', sans-serif !important;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 70px;
   
  }
  .v-application{
    font-family: 'Montserrat', sans-serif !important;
  }

section{
    padding: 0 5% !important;
}