.mb-medium{
    margin-bottom: 50px;
}
.mb-big{
    margin-bottom: 100px;
}
.mt-small{
    margin-top: 20px;
}
.mb-small{
    margin-bottom: 20px !important;
}
.ms-smallest{
    margin: 0 10px;
}
.pt-medium{
    padding-top: 50px !important;
}
.pb-medium{
    padding-bottom: 50px !important;
}
.mtb-medium{
    margin: 50px auto !important;
}
.ma-smallest{
    margin: 10px;
}
/* flex */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.x-center{
    justify-content: center;
}
.x-sbetween{
    justify-content: space-between;
}
.y-center{
    align-items: center;
}
.column{
    flex-direction: column;
}
/* colors */

.color-primary{
    color: $color-primary !important;
}

/* Responsive changes */

.hide-on-tab-port{
    @include respond(tab-port){
        display: none !important;
    }
}

.show-on-tab-port{
    display: none;
    @include respond(tab-port){
        display: block !important;
    }
}

.hide-on-tab-phone{
    @include respond(phone){
        display: none !important;
    }
}